/* Removed default #root styles to allow full-width layout */

@keyframes fade {
  0% { opacity: 0; }
  20% { opacity: 1; }
  33% { opacity: 1; }
  53% { opacity: 0; }
  100% { opacity: 0; }
}

.animate-fade {
  animation: fade 15s infinite;
}
