@import "tailwindcss";

@layer base {
  html {
    font-family: 'Lato', sans-serif;
    background-color: #fafafa; /* Very slight off-white */
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
  }
}

/* Custom Styles for Slider/Scrollbars if needed */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
